<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <!-- Column-->
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>
                        Síntomas
                    </mat-card-title><br />
                    <ul>
                        <li>Falta de aire</li>
                        <li>Mareos</li>
                        <li>Náuseas</li>
                        <li>Vómito</li>
                        <li>Diarrea</li>
                        <li>Agotamiento</li>
                        <li>Soplo</li>

                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Column-->
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>
                        Tratamiento recomendado
                    </mat-card-title><br />
                    <p>
                        __________________________<br />
                        __________________________<br />
                        __________________________<br />
                        __________________________<br />
                        __________________________<br />
                        __________________________<br />
                        __________________________<br />

                    </p>
                    <br />
                    <!-- <button mat-raised-button color="primary" (click)="generatePDF()">Generar pdf</button> -->
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Column-->
        <div fxFlex.gt-lg="34" fxFlex.gt-md="34" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>Factores de riesgo</mat-card-title><br />
                    <h5>Tus factores de riesgo son:</h5>
                    <ul>
                        <li>Estrés</li>
                        <li>Tabaquismo</li>
                        <li>Consumo de alcohol</li>
                        <li>Consumo de drogas</li>
                        <li>Estilo de vida sedentario</li>
                        <li>No dormir lo necesario</li>
                        <li>Consumo de alimentos con exceso de grasa</li>
                    </ul>

                </mat-card-content>
            </mat-card>
        </div>
        <!-- Column-->
    </div>
</div>