<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Recomendaciones estadísticas </mat-card-title>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form">
                    <div fxLayout="row wrap">
                        <form action="../../form-result.php" method="post" target="_blank">


                            <canvas baseChart height="100" [datasets]="lineChartData" [labels]="lineChartLabels"
                                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                                [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                            <p>
                                De
                                acuerdo con el análisis que se muestra
                                en la gráfica se recomienda que para el próximo
                                mes hagas...
                            </p>


                        </form>

                    </div>
                </form>

            </mat-card-content>
        </mat-card>
    </div>
</div>