<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Editar Perfil</mat-card-title>
            </mat-card-content>
            <mat-tab-group class="demo-tab-group">
                <mat-tab label="Datos">
                    <div class="demo-tab-content">
                        <div fxLayout="row wrap">
                            <h6 style="color: primary">Información básica</h6>

                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <mat-form-field>
                                    <mat-label>Nombre del usuario</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <mat-form-field>
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput type="text">
                                </mat-form-field>
                            </div>

                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <mat-form-field>
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput type="number">
                                </mat-form-field>
                            </div>



                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <h5>Foto de perfil</h5>
                            </div>

                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <input class="form-control b-b" placeholder="Foto" type="file">
                            </div>

                            <div fxFlex.gt-sm="100" fxFlex="100">
                                <button mat-raised-button [routerLink]="['../perfil']" color="primary">Editar
                                    Perfil</button>
                            </div>

                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>