<app-top-card2></app-top-card2>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-md="65" fxFlex.gt-xs="100" fxFlex="100">
        <app-sales-yearly></app-sales-yearly>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="35" fxFlex.gt-xs="100" fxFlex="100">
        <app-visitor2></app-visitor2>
    </div>
    <!-- column -->
    <!-- column -->

    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->