<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/wave.png" class="profile-bg-height" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/empresa.jpg" width="100" alt="user">
        </div>
        <h3 class="m-b-0">Empresa</h3>
        <h6 class="m-t-0 ">"Zapateria lucia"</h6>

        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Teléfono</h3>
                <small>2725578939</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">Correo electrónico</h3>
                <small>zapateria_lucia@outlook.com</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light"> Proveedores</h3>
                <small>3</small>
            </div>


        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <img src="assets/images/fb.png" width="60">
                <small>Zapateria Lucia</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <img src="assets/images/twt.png" width="60">
                <small>@zapateria.lucia</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <img src="assets/images/ig.png" width="60">
                <small>@zapateria.lucia</small>
            </div>

        </div>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <mat-card-actions>
                <button mat-raised-button color="primary" class="btn"
                    [routerLink]="['../editar-empresa2']">Editar</button>
            </mat-card-actions>
        </div>
    </mat-card-content>
</mat-card>