<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>

                        <h5 class="m-0">Usuarios</h5><br />
                        <h6 class="text-muted m-0">20</h6>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>supervisor_account</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h5 class="m-0">Mis pacientes</h5><br />
                        <h6 class="text-muted m-0">10</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>medical_services</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h5 class="m-0">Médicos</h5><br />
                        <h6 class="text-muted m-0">10</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>healing</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h5 class="m-0">Hospitales</h5><br />
                        <h6 class="text-muted m-0">5</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>